// Pre SCSS for the theme.

$card-bg: rgba(255, 255, 255, 0.98);
$blue-ense: rgba(0, 43, 73, .9);
$orange-ense: rgba(239, 118, 34, 1);
$electricBlue-ense: rgba(0, 173, 276, 1);
$grey-ense: rgba(0, 5, 13, .3);

